@import 'styles/common/variables.scss';

.Header {
  color: white;
  display: flex;
  align-items: center;
  background-color: $color-header-bg;
  img {
    display: inline-block;
    padding: 16px;
    width: 32px;
    height: 32px;
  }
}